apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Release.Name }}-api-ingress
  namespace: {{ .Values.namespace }}
  annotations:
    # kubernetes.io/tls-acme: "true"
    # cert-manager.io/cluster-issuer: "letsencrypt-prod"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
spec:
  ingressClassName: nginx
  rules:
    - host: "api.{{ .Release.Name }}.dyn.cloud.e-infra.cz"
      http:
        paths:
          - backend:
              service:
                name: {{ .Release.Name }}-api-service
                port:
                  number: 80
            pathType: ImplementationSpecific
