apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
spec:
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
        fsGroupChangePolicy: OnRootMismatch
      containers:
        - name: postgres
          image: cerit.io/frimen/postgres@sha256:4d6fb4d8132fc52b9b71b1f6361c6c2fdfbe00552dc62eee3e79e9928a3be1c3
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              memory: 1G
              cpu: "0.5"
            limits:
              memory: 2G
              cpu: "1"
          ports:
            - containerPort: 5432
          envFrom:
            - secretRef:
                name: postgres-secret
          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: postgresdata
          securityContext:
            runAsUser: 70  # postgres user ID in Alpine
            runAsGroup: 70  # postgres group ID in Alpine
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
      volumes:
        - name: postgresdata
          persistentVolumeClaim:
            claimName: postgres-volume-claim

