apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: tichy3-ns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      securityContext:
        allowPrivilegeEscalation: false
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        capabilities:
          drop:
            - ALL
        seccompProfile:
          type: RuntimeDefault
      containers:
      - name: postgres
        image: postgres:17.4-alpine
        envFrom:
          - secretRef:
              name: backend-env
        ports:
          - containerPort: 5432
        volumeMounts:
          - mountPath: /var/lib/postgresql/data
            name: postgres-data
        resources:
          requests:
            cpu: "0.2"
            memory: "256Mi"
          limits:
            cpu: "1"
            memory: "512Mi"
      volumes:
        - name: postgres-data
          persistentVolumeClaim:
            claimName: db-data-pvc
