name: Build and deploy

on:
  push:
    branches:
      - main

env:
  DEPLOYMENT_NAME: cellim-viewer
  K8S_NAMESPACE: tichy3-ns
  API_IMAGE_NAME: cerit.io/frimen/cellim-viewer-api
  WEB_IMAGE_NAME: cerit.io/frimen/cellim-viewer-web

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker registry
        uses: docker/login-action@v2
        with:
          registry: cerit.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push api image
        uses: docker/build-push-action@v4
        with:
          context: ./backend
          file: ./backend/docker/dockerfile.prod
          push: true
          tags: ${{ env.API_IMAGE_NAME }}:latest
      
      - name: Build and push web image
        uses: docker/build-push-action@v4
        with:
          context: ./frontend
          file: ./frontend/docker/dockerfile.prod
          push: true
          tags: ${{ env.WEB_IMAGE_NAME }}:latest

  deploy-to-k8s:
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'latest'

      - name: Setup Kubeconfig
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.KUBE_CONFIG_DATA }}" | base64 --decode > $HOME/.kube/config

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.14.0

      - name: Fix kubeconfig permissions
        run: chmod go-r ~/.kube/config

      - name: Helm upgrade or install release
        run: |
          helm upgrade --install ${{ env.DEPLOYMENT_NAME }} ./helm --namespace ${{ env.K8S_NAMESPACE }}
