name: Build and deploy

on:
  push:
    branches:
      - main

env:
  DEPLOYMENT_NAME: volseg-editor
  API_URL: https://api.volseg-editor.dyn.cloud.e-infra.cz
  K8S_NAMESPACE: cellim-viewer-tichy3-ns
  IMAGE_TAG: ${{ github.sha }}
  API_IMAGE_NAME: cerit.io/frimen/volseg-editor-api
  MIGRATIONS_IMAGE_NAME: cerit.io/frimen/volseg-editor-migrations
  SEED_IMAGE_NAME: cerit.io/frimen/volseg-editor-seed
  WEB_IMAGE_NAME: cerit.io/frimen/volseg-editor-web

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          lfs: true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker registry
        uses: docker/login-action@v2
        with:
          registry: cerit.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push api image
        uses: docker/build-push-action@v4
        with:
          context: ./backend
          file: ./backend/docker/dockerfile.prod
          push: true
          build-args: |
            VITE_API_URL=${{ env.API_URL }}
          tags: |
            ${{ env.API_IMAGE_NAME }}:${{ env.IMAGE_TAG }}

      - name: Build and push migrations image
        uses: docker/build-push-action@v4
        with:
          context: ./backend
          file: ./backend/docker/dockerfile.migrations.prod
          push: true
          build-args: |
            VITE_API_URL=${{ env.API_URL }}
          tags: |
            ${{ env.MIGRATIONS_IMAGE_NAME }}:${{ env.IMAGE_TAG }}
      - name: Build and push seed image
        uses: docker/build-push-action@v4
        with:
          context: ./backend
          file: ./backend/docker/dockerfile.seed.prod
          push: true
          build-args: |
            VITE_API_URL=${{ env.API_URL }}
          tags: |
            ${{ env.SEED_IMAGE_NAME }}:${{ env.IMAGE_TAG }}
      - name: Build and push web image
        uses: docker/build-push-action@v4
        with:
          context: ./frontend
          file: ./frontend/docker/dockerfile.prod
          push: true
          build-args: |
            VITE_API_URL=${{ env.API_URL }}
          tags: |
            ${{ env.WEB_IMAGE_NAME }}:${{ env.IMAGE_TAG }}

  deploy-to-k8s:
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'latest'

      - name: Setup Kubeconfig
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.KUBE_CONFIG_DATA }}" > $HOME/.kube/config

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.14.0

      - name: Fix kubeconfig permissions
        run: chmod go-r ~/.kube/config

      - name: Helm upgrade or install release
        run: |
          helm upgrade --install --wait \
          ${{ env.DEPLOYMENT_NAME }} ./helm \
          --namespace ${{ env.K8S_NAMESPACE }} \
          --values ./helm/values.yaml \
          --set global.image.tag=${{ github.sha }} \
          --set minio.secrets.rootUser="${{ secrets.MINIO_ROOT_USER }}" \
          --set minio.secrets.rootPassword="${{ secrets.MINIO_ROOT_PASSWORD }}" \
          --set api.secrets.oidcClientId="${{ secrets.OIDC_CLIENT_ID }}" \
          --set api.secrets.oidcClientSecret="${{ secrets.OIDC_CLIENT_SECRET }}" \
          --set api.secrets.jwtSecretKey="${{ secrets.JWT_SECRET_KEY }}" \
          --set api.secrets.cookiesSessionSecret="${{ secrets.COOKIE_SESSION_SECRET }}"
